nav {
    height: 90px;
    max-width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

}

nav > img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 15px;
}
.sections {
    display: flex;
    gap: 20px;
}
.sections > li {
    list-style-type: none;
    font-size: 30px;

}

.sections >li >a {
    text-decoration: none;
    color:#1E1E24;
    font-size:35px;
}

@media screen and (max-width: 500px){
    nav {
        flex-direction: column;
        height: auto;
    }
    nav > img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
    }

    .sections > li {
        font-size: 20px;
    }

}