nav {
    height: 90px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

}

nav > img {
    max-height:120px;
    border-radius: 15px;
}
.sections {
    display: flex;
    gap: 20px;
}
.sections > li {
    list-style-type: none;

}

.sections >li >a {
    text-decoration: none;
    color:#1E1E24;
    font-size:35px;
}
